@model ReviewApp.Models.ViewModels.IndexViewModel

<h1>Товары:</h1>

<div class="overflowForGoods">
    @foreach (var good in Model.Goods)
    {
        <div class="good" style="display: flex">
            <div>
                <div class="good-name">@good.Name</div>
                <div class="good-description">@good.Description</div>
            </div>
            <div class="timeSpan">@good.TimeSpan</div>
            
            <form asp-controller="Home" asp-action="RemoveGood" method="post">
                <button class="deleteButton" type="submit" id="button">
                    <img class="deleteButtonPicture" src="https://free-png.ru/wp-content/uploads/2022/01/free-png.ru-388-340x257.png" alt="x" />
                </button>
                
                <input type="hidden" name="id" value="@good.Id"/>
                @Html.AntiForgeryToken()
            </form>
        </div>
    }
</div>

<a asp-controller="Home" asp-action="AddGood" title="Добавить товар">Добавить товар</a>